* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arvo', serif;
}

.card {
    height: 150px;
    width: 150px;
}

.card_front,
.card_back {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
}

.card_front {
    background-color: #101c2c;
}

.card_back {
    background-color: #05c3ff;
    color: #101c2c;
    font-size: 25px;
    font-weight: bold;
}